body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.form-label {
    font-size: 15px;
    margin: 17px 0px 8px;
}

.img-responsive {
    width: 313px;
    height: 103px;
    margin: 19px -23px;
    margin-top: 27px;
}

.form-control{
    width: 100%;
    height: 75px;
    border: 1px solid #f2f2f2;
    border-radius: 10px; 
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h2 {
    font-weight: 600;
}

label{
    font-weight: 600;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.row {
    margin-right: -27px;
    margin-left: -80px;
}

.half, .half .container > .row {
    height: 100vh;
    min-height: 600px;
}

@media (max-width: 991.98px) {
    .half .bg {
        height: 200px;
    }
}

.half .contents {
    background: #ffffff;
}

.half .contents, .half .bg {
    width: 50%;
    margin-top: -13px;
    margin-left: 9px;
}

@media (max-width: 1199.98px) {
    .half .contents, .half .bg {
        width: 100%;
    }
}

.half .contents .form-control, .half .bg .form-control {
    border: 0.5px solid #e4e4e4;
    /* border: none; */
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%);
    border-radius: 4px;
    height: 49px;
    background: rgb(246, 246, 246);
}

    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

.half .bg {
    background-size: cover;
    background-position: center;
}

.half .btn {
    position: absolute;
    width: 31%;
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    margin-top: 10px;
    background: #004DA9;
    border-radius: 4px;
}

.half .btn:hover{
    background: #0D478C;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.blockquote-footer{
    margin-top: -2rem;
}

.blockquote-footer a{
    text-decoration: none;
    color: #004DA9;
}
